{% extends "cpns/header.html"%}

{% block content %}
<html>
<head>
  <title>Daftar Event</title>
  {% load staticfiles %}
  <script type="text/javascript" src="{% static 'Daftar/js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'Daftar/css/bootstrap.min.css' %}" />
</head>
<body>
  <div class="col-md-12">
    <h1>List Lowongan Kementerian Repulik Indonesia</h1>
    <hr />
    {% for event in object_list %}
    <div class="col-md-4 well">
      <strong>{{ event.title | upper }}</strong>
      <hr/>
      Diselenggarakan oleh {{ event.organizer }} <br/>
      dari {{ event.date_begin }} hingga {{ event.date_end }} <br/><br/>
      <li><a href="{{event.id}}" class="btn btn-default">Mendaftar</a>
      </li>
    </div>
    {% endfor %}
  </div>
</body>
</html>

{% endblock %}
